
.signup-container {
  background-image: url('https://res.cloudinary.com/dgiuuuy5n/image/upload/v1702869118/photo-1526488807855-309186804587_gvq0ag.avif');
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}


.signup-form {
  background-color: rgba(255, 255, 255, 0.9);
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  animation: fadeIn 0.5s ease;
  max-width: 400px;
  width: 90%;
}


.signup-form h1 {
  text-align: center;
  margin-bottom: 20px;
  color: #333;
  font-size: 24px;
}


.signup-form input {
  width: 100%;
  padding: 12px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
  font-size: 16px;
}


.signup-form button {
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.signup-form button:hover {
  background-color: #0056b3;
}


.error {
  color: red;
  text-align: center;
  margin-top: 10px;
}


.auth-switch {
  text-align: center;
  margin-top: 20px;
}

.auth-switch a {
  color: #007bff;
  text-decoration: none;
}

.auth-switch a:hover {
  text-decoration: underline;
}


@keyframes fadeIn {
  from {
      opacity: 0;
      transform: translateY(-20px);
  }
  to {
      opacity: 1;
      transform: translateY(0);
  }
}
